.main_wrapper {
	padding: 64px 32px;
}

.main_content {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

.title {
	font-size: 1.5rem;
	font-weight: 600;
}

.search_filter {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	gap: 16px;
}